@use "../../assets/Styling/Variables/variables" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.custButton {
  min-height: 30px;
  min-width: 89px;
  border: none;
  border-radius: 5px;
  background-color: $navbutton-background;
  font-family: $button-heading;
  font-weight: bold;
  color: $navbutton-text;
  transition: all 0.2s linear;
  margin-top: 3px;

  &__category {
    &--on {
      background-color: red;
    }
  }

  &:hover {
    box-shadow: inset 0 0 5px 1px $navbutton-hover;
    cursor: pointer;
    transition: all 0.2s linear;
  }
}
