//Button
$catbutton-background: #64e6e5;
$catbutton-background-selected: #000000;
$catbutton-text: #ba51ba;

$navbutton-background: #65e664;
$navbutton-text: #9a3e9a;
$navbutton-hover: #880050;

//HomePage
$homepage-background-primary: #e66465;
$homepage-background-secondary: #6465e6;

//RecipeCard
$recipecard-background: #acff2f;
$recipecard-border: #000000;
$recipecard-shadow: #000000;
