@use "../../assets/Styling/Variables/variables" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100dvh;
  height: fit-content;
  background: linear-gradient(
    $homepage-background-primary,
    $homepage-background-secondary
  );
  background-size: 200% 200%;
  animation: scroll-colour 15s ease infinite;
}

.homepage__search {
  display: flex;
  width: 50dvw;
  max-width: 208.4px;
  margin: auto;
  margin-bottom: 15px;
}

.homepage__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  //align-items: center;
  margin: auto;
}

@keyframes scroll-colour {
  0% {
    background-position: 10% 0%;
  }
  50% {
    background-position: 91% 100%;
  }
  100% {
    background-position: 10% 0%;
  }
}
